{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un Étudiant</title>
    <link rel="stylesheet" href="{% static 'etudiants/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Ajouter un Nouvel Étudiant</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Ajouter l'étudiant</button>
        </form>
        
        <br>
        <a href="{% url 'liste_etudiants' %}">← Retour à la liste</a>
    </div>
</body>
</html>